nav#Man-City
{
  text-align: center;
  background-color: #081BFE;
  position: relative;
  top: 0;
}

nav#Man-City ul 
{
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav#Man-City ul li 
{
  background-color: #00FF7F;
  border: 2px solid black;
  float: left;
  text-align: center;
  margin: 0;
  width: auto;
}

nav#Man-City ul li a 
{
  text-align: center;
  display: block;
  padding: 0.375em; 
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Spectral;
}

nav#resume
{
  text-align: center;
  background-color: #081BFE;
  position: relative;
  top: 0;
}

nav#resume ul 
{
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav#resume ul li 
{
  background-color: #00FF7F;
  border: 2px solid black;
  float: left;
  text-align: center;
  margin: 0;
  width: auto;
}

nav#resume ul li a 
{
  text-align: center;
  display: block;
  padding: 0.375em; 
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Spectral;
}

nav#video-games
{
  text-align: center;
  background-color: #081BFE;
  position: relative;
  top: 0;
}

nav#video-games ul 
{
  text-align: center;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav#video-games ul li 
{
  background-color: #00FF7F;
  border: 2px solid black;
  float: left;
  text-align: center;
  margin: 0;
  width: auto;
}

nav#video-games ul li a 
{
  text-align: center;
  display: block;
  padding: 0.375em; 
  font-size: 1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Spectral;
}

img 
{
  max-width: 50%;
  margin: auto;
}

div#video
{
  max-height: 50%;
  max-width: 50%;
  margin: auto;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

div#video iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

body#index
{
  text-align: center;
  margin: auto;
  background-color: #58A1F5;
  font-family: Spectral;
  color: black;
}

body#index h2
{
  text-align: center;
  max-width: 960px;
  margin: auto;
  font-family: Spectral;
  font-size: 200%;
  color: black;
}

body#index p
{
  text-align: center;
  margin: auto;
  max-width: 960px;
  font-family: Spectral;
  font-size: 100%;
  color: black;
}

table
{
  border: 3px black;
  text-align: center;
  width: 100%;
  max-width: 960px;
  border-collapse:collapse;
  margin: auto;
}

table th
{
  border: 7px black ;
  font-family: Spectral;
  font-size: 180%;
  background-color: #02FF83;
  color: black;
}

table td
{
  border: 7px black;
  font-family: Spectral;
  font-size: 140%;
  background-color: #00904A;
  color: black;
}

div#records
{
  text-align: center;
  margin: auto;
  background-color: #58A1F5;
  font-family: Spectral;
  color: black;
}

div#records h2
{
  text-align: center;
  margin: auto;
  max-width: 960px;
  font-family: Spectral;
  font-size: 200%;
}

div#records ul li
{
  list-style-type: none;
  margin: auto;
  text-align: center;
  max-width: 960px;
  font-family: Spectral;
  font-size: 100%;
}

body#resume-body
{
  background-color: #58A1F5;
  text-align: center;
  font-family: Spectral;
  color: black;
}

div#resume-profile 
{
  text-align: center;
  max-width: 960px;
  font-family: Spectral;
  position: relative;
  margin: auto;
}

div#resume-profile h2 
{
  font-size: 250%;
  text-align: center;
  margin: auto;
}

div#resume-profile ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}
  
div#objective 
{
  font-family: Spectral;
  text-align: center;
  max-width: 960px;
  margin: auto;
}

div#objective h2 
{
  text-align: center;
  font-size: 200%;
  margin: auto;
}

div#objective ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}

div#experience 
{
  font-family: Spectral;
  text-align: center;
  max-width: 960px;
  margin: auto;
}

div#experience h2 
{
  font-size: 200%;
  text-align: center;
  margin: auto;
}

div#experience ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}

div#experience ul li ul li
{
  text-align: center;
  font-size: 100%;
  list-style-type: none;
}

div#accomplishments
{
  font-family: Spectral;
  text-align: center;
  max-width: 960px;
  margin: auto;
}

div#accomplisments h3 
{
  font-size: 200%;
  text-align: center;
  margin: auto;
}

div#accomplishments ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}

div#qualifications 
{
  text-align: center;
  max-width: 960px;
  margin: auto;
}

div#qualifications h2 
{
  font-size: 200%;
  text-align: center;
  margin: auto;
}

div#qualifications ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}

div#education 
{
  text-align: center;
  max-width: 960px;
  margin: auto;
}

div#education h2 
{
  font-size: 200%;
  text-align: center;
  margin: auto;
}

div#education ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}

div#education ul li ul li
{
  text-align: center;
  font-size: 100%;
  list-style-type: none;
}

div#activities 
{
  text-align: center;
  max-width: 960px;
  margin: auto;
}

div#activities h2 
{
  font-size: 200%;
  text-align: center;
  margin: auto;
}

div#activities ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}

div#activities ul li ul li 
{
  text-align: center;
  font-size: 100%;
  list-style-type: none;
}

div#skills 
{
  text-align: center;
  max-width: 960px;
  margin: auto;
}

div#skills h2 
{
  font-size: 200%;
  text-align: center;
  margin: auto;
}

div#skills ul li 
{
  text-align: center;
  font-size: 140%;
  list-style-type: none;
}

body#games
{
  text-align: center;
  background-color: #58A1F5;
  font-family: Bitter;
  color: Black;
}

body#games h2
{
  text-align: center;
  font-family: Bitter;
  color: black;
}

body#games p
{
  text-align: left;
  font-family: Bitter;
  color: purple;
}
